*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    justify-content: center;  
    align-items: center;
   }
.navbar-brand:hover{
    background-color:rgb(107, 69, 107);
  
    
}
.start-container{
   margin:auto;
   width: 60%;
   text-align: center;
   font-size: large;
}

    
.question-container{
    margin: auto;
    width: 60%;
    background-color: lightseagreen;
    text-align: center;
    font-size: xx-large;
  }

.btn{ 
    display:grid;
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin:1px;
     }

.btn:hover{
    border-color: white;
    background-color: rgb(128, 68, 128);
}
.end-markup{
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: xx-large;
}

.hide{
    display: none;
}